.calc {
    text-align: center;
    box-sizing: border-box;
    display: flexbox;
}
.calc p {
    
    
    display: inline-block;
    
    
    font-size: 20px;
    
}
.calc button, input {
    font-size: 20px;
    border: black 2px solid;
    outline: none;
}